<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Küchen-Timer</ion-title>    
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Küchen-Timer</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-text color="secondary">
    <h2>Erinnere mich in ...</h2>
  </ion-text>

  &nbsp;

  <ion-button expand="full" color="primary" (click)="onButtonGeklickt(3)">3 Minuten</ion-button>

  &nbsp;

  <ion-button expand="full" color="primary" (click)="onButtonGeklickt(5)">5 Minuten</ion-button>

  &nbsp;

  <ion-button expand="full" color="primary" (click)="onButtonGeklickt(10)">10 Minuten</ion-button>

  &nbsp;

  <ion-button expand="full" color="primary" (click)="onButtonGeklickt(15)">15 Minuten</ion-button>

  &nbsp;

</ion-content>
